[Unit]
Description=Tunnel Api
After=network.target

[Service]
User=root
WorkingDirectory=/usr/sbin/vipssh
ExecStart=/usr/sbin/tunnapi --port 14022
Type=simple
TimeoutStopSec=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
