[Unit]
Description=Limit Usage Xray Service
Documentation=Gugun09
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/usr/local/etc/xray/limit.socks

[Install]
WantedBy=multi-user.target
